body{
    display: flex;
    background-color: rgba(239,155,15);
    height: 100vh;
    width: 100vw;

    margin: 0%;
    padding: 0%;

    align-items: center;
    justify-content: center;
}

#main_page{
    display: flex;

    flex-direction: column;
    align-items: center;

    margin: 0%;
    padding: 0%;
    
    height: 90vh;
    width: 90vw;

    max-width: 800px;
    max-height: 800px;
    
    background-color: rgb(207, 255, 251);

    border-radius: 25px;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);

}

#main{
    display: flex;
    height: 65vh;
    width: 80vw;
    max-height: 750px;
    max-width: 750px;


    border-radius: 20px;
    
    background-color: rgba(0,33,71);

    box-shadow: 0px 0px 50px black;

    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#scoore{
    display: flex;
    height: 8vh;
    width: 35vw;
    max-height: 150px;
    max-width: 700px;

    border-radius: 20px;

    margin: 1rem;

    background-color: black;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.624);
}


#collom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: black;
    
    height: 60vh;
    width: 30vw;
    max-height: 600px;
    max-width: 200px;

    margin: 1rem;

}


#row{
    display: flex;



    background-color: white;

    height: 18vh;
    width: 25vw;
    max-height: 180px;
    max-width: 150px;

    margin: 0.5rem;


    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 0px 0px 20px grey;
}

